.contactContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gap-32);
}

.contactContainer input {
  background: transparent;
  outline: none;
  border-bottom: solid 2px var(--color-black);
  color: var(--color-black);
  font-size: var(--p-size);
}

.contactContainer input:active {
  outline: none;
}

.contactContainer input:hover {
  outline: none;
  opacity: 0.9;
}

.nameContainer {
  display: flex;
  gap: var(--spacing-gap-16);
}

.generalityContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-gap-8);
}

.mailContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-gap-8);
}

.buttonContainer {
  display: flex;
  gap: var(--spacing-gap-8);
  margin-left: auto;
}
