.studiesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gap-32);
}

.studyContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gap-16);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gap-8);
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: -8px;
    width: 100%;
}
