.logoContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    background-color: var(--color-black);
}
.logoContainer img {
    width: 100%;
    height: auto;
}

.barcodeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
}

.headerSeparatorDiv {
    display: flex;
    justify-content: space-between;
}

.headerContent {
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    gap: var(--spacing-gap-30);
}